# linguist - ignore HTML, JS, and Rich Text Format
*.html linguist-vendored
*.js linguist-vendored
*.rtf linguist-vendored

# Git-Crypt
/npm/.npmrc filter=git-crypt diff=git-crypt
/ssh/.config/ssh/id_rsa filter=git-crypt diff=git-crypt
/gnupg/.gnupg/*.kbx filter=git-crypt diff=git-crypt
/gnupg/.gnupg/*.asc filter=git-crypt diff=git-crypt
/gnupg/.gnupg/*.key filter=git-crypt diff=git-crypt
/gnupg/.gnupg/**.rev filter=git-crypt diff=git-crypt
/gnupg/.gnupg/*.gpg filter=git-crypt diff=git-crypt
